*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
a{
    /*margin-top: 1rem;*/
}
.navbar-brand{
    font-size: 5px;
    color: red;
}
.nav-link{
    color: rgb(10,10,94);
}
.nav-link:hover{
    color: red;
    transition: 0.3s;
}
.nav-item{
    color: rgb(7,7,78);
    font-weight: 500;
    padding-left: 35px;
}
.btn0{
    /*margin-top: 1rem;*/
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgb(248,83,83);
}
.btn0:hover{
    background-color: rgb(214,11,11);
    transition: all 0.4s;
}
  
.btn1{
    /*margin-top: 1rem;*/
    height: 52px;
    width: 130px;
    outline: none;
    border: 2px solid rgb(248,20,20);
    color: rgb(248,20,20);
    transition: all 0.4s;
    background-color: transparent;
}
.btn1:hover{
    background-color: rgb(214,11,11);
    transition: all 0.4s;
    color: white;
    outline: none;
    border: none;
}

/main section/
.main .container{
    float: right;

}
.main{
    min-height: 100vh;
    width: 100%;
    float: right;
}
.main h1{
    font-size: 5rem;
    font-weight: 800;
    color: rgb(7, 7, 78);
}
.main input{
    background-color: #ccf3ff;
    height: 60px;
    width: 70%;
    border: none;
    outline: none;
    padding: 15px;
}
.btn2{
    height: 60px;
    width: 20%;
    background-color: rgb(243, 73, 73);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: -4px;
}
.btn2:hover{
    background: rgb(214, 11, 11);
    transition: all 0.4s;
}

/*how it works*/
.workflow{
    background-color: #ffe6e6;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.workflow h1{
    color: rgb(7, 7, 78);
    font-size: 5rem;
    font-weight: 700;
    padding-left: 8rem;
}
.workflow p{
    padding-left: 8rem;
    padding-right: 5rem;
    font-size: 1.3rem;
}
.workflow .container{
    text-align: center;
}
.workflow .container iframe{
    width: 40rem;
    height: 25rem;
}
.containers{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f9ff;
}
img{
    max-width: 100%;

}
.img{
    flex-basis: 50%;
    order: 2;

}
.text{
    padding-left: 20px;
}
.typing{
    height: 18rem;
    width: 38rem;
}
span{
    color: rgb(243, 73, 73);
}

.apply{
    background: url("./media/cool.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.apply .card{
    background-color: rgb(4,26,100,0.801);
    color: white;
} 
.cir1{
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    display: inline-block;
}
.cir1 img{
    border-radius: 50%;
}
.apply h1{
    color: white;
}
.card-body h2{
    padding-top: 1rem;
}
.card-body p{
    padding-top: 2rem;
}
.card{
    margin-left: 1rem;
    background: transparent;
}
